*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


https://authorization-server.com/authorize?
  response_type=code
  &client_id=qp4U5Iq-kNDhzjd1opfS35iv
  &redirect_uri=https://www.oauth.com/playground/oidc.html
  &scope=openid+profile+email+photos
  &state=0Vun655kLOQg1g1o
  &nonce=P25imZVpXYhyYlEW

